##############################    IDE    ##############################
.idea
nbproject
#######################################################################

##############################   LOGS    ##############################
/backend/dnl_db_writer/log/*
!/backend/dnl_db_writer/log/empty
/download/*.log
/download/*
/script/log/*
!/script/log/empty
/script/storage/ftp/upload_error/*
!/script/storage/ftp/upload_error/empty
/script/storage/*.log
/web/app/webroot/mail_log
/web/app/webroot/log
/web/app/webroot/upload/rates_log/*
/web/app/webroot/upload/rates/*
/web/app/log/*.txt
!/web/app/webroot/upload/rates_log/empty
#######################################################################

############################## DOWNLOADS ##############################
/download/invoice/*
!/download/invoice/empty
/download/cdr_download/*
!/download/cdr_download/empty
/download/scheduled_report/*
!/download/scheduled_report/empty
/download/us_report_download
!/download/us_report_download/empty
/download/rate_download
!/download/rate_download/empty
/script/storage/detach/*
!/script/storage/detach/empty
/script/storage/ftp/*
!/script/storage/ftp/empty
/script/storage/ftp_cdr/*
!/script/storage/ftp_cdr/empty
/script/storage/invoice/*
!/script/storage/invoice/empty
/script/storage/rate_generation/*
!/script/storage/rate_generation/empty
/script/storage/invoice_cdr/
!/script/storage/invoice_cdr/empty
/web/app/webroot/upload/rates_log/*
!/web/app/webroot/upload/rates_log/empty
/web/app/webroot/upload/html/*.html
/web/app/webroot/upload/images/*.png
/web/app/webroot/upload/invoice_file/*.pdf
/web/app/webroot/default_code_deck/*
/web/app/webroot/log
/web/app/webroot/mail_log
!/web/app/webroot/default_code_deck/empty
#######################################################################

################################# TMP #################################
/web/app/tmp/download/*
!/web/app/tmp/download/empty
/web/app/tmp/download/csv/*
!/web/app/tmp/download/csv/empty
/web/app/tmp/ftp/*
!/web/app/tmp/ftp/empty
/web/app/tmp/logs/*
!/web/app/tmp/logs/empty
/web/app/tmp/tests/*
!/web/app/tmp/tests/empty
/web/app/tmp/upload/*
!/web/app/tmp/upload/empty
/web/app/tmp/upload/csv/*
!/web/app/tmp/upload/csv/empty
/web/app/tmp/cache/*
!/web/app/tmp/cache/empty
/web/app/tmp/ftp/*.csv.gz
/web/app/upload/tmp/*
!/web/app/upload/tmp/__empty__
#######################################################################
##############################   MISC    ##############################
web/app/webroot/css/themer.css
web_*/*
script_*/*
Class4.tar.gz
fabfile.pyc
#######################################################################
*/*.log
*/*.csv
*/*.history
/etc/vhost.conf
/web/app/mydebug.txt
/web/app/config/bootstrap.local.php
/backend/dnl_softswitch/cdr/*
/backend/dnl_tools/run/cdr_report.history
/backend/dnl_livecall/log/*
/backend/dnl_softswitch/log/*
/backend/dnl_tools/log/*
/backend/dnl_tools/run/cdr_report.history
/db_nfs_path/*
/backend/dnl_tools/run/cdr_report.history
backend/dnl_web_helper/result_log/
#etc/dnl_softswitch.ini